* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {

    background-image: url("../assets/img/china.jpg");
    background-size: cover;
}

header .navbar {

    background-color: transparent !important;


}

.navbar-brand{

    font-family: 'Lobster', cursive;
    color: tomato !important;
    text-decoration: none;

    
}




ul .nav-link {

    
    color: tomato;
    font-family: 'Lobster', cursive;}

    
.active a:hover{
    
    color: #05d7b4;
    
}


 
h1 {
    color: tomato;
    text-align: center;
    font-family: 'Lobster', cursive;

}

 div .__boton{
    font-family: 'Lobster', cursive;
}

footer{
   
    background-color: rgb(157, 26, 3);


}

footer div h5{
    font-family: 'Lobster', cursive;  
    color: tomato    ;
}
p{
    color: tomato;
    font-family: 'Lobster', cursive;   
}
 
li a{
    text-decoration: none   ;
    font-family: 'Lobster', cursive;  
}



.card{
    
 
}


.card .img__tienda {
    object-fit: contain;
    margin-top: 5px;
    height: 190px;
    width: 100%;
}




.card h4 {
    font-size: 18px;
}

.card .card-body h5 {
    font-family: 'Lobster', cursive;
    color: #030100;
}

.card div {
    text-align: center;
}

.card div .boton {
    text-align: center;
}

.card div p {
    font-family: 'Lobster', cursive;
}



